@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("assets/background/bg-1.png");
  background-color: rgba(0, 0, 0, 0.25);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 580px;
  min-height: 400px;
  background: #fff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  padding: 25px 20px 29px 20px;
}

.container a {
  padding-bottom: 20px;
}

.form-check {
  font-size: 12px;
}
.container .login-text {
  color: #111;
  font-weight: 500;
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 10px;

  text-transform: capitalize;
}

.container .login-email .input-group {
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
}

.container .login-email .input-group input {
  width: 480px;
  height: 100%;
  border: 2px solid #e7e7e7;
  padding: 15px 20px;
  font-size: 1rem;
  border-radius: 30px;
  background: transparent;
  outline: none;
  transition: 0.3s;
  margin-top: 16px;
}

.container .login-email .input-group input:focus,
.container .login-email .input-group input:valid {
  border-color: #6e3d0f;
}

.container .login-email .input-group .btn {
  display: block;
  width: 334px;
  padding: 15px 20px;
  text-align: center;
  border: none;
  background: #6e3d0f;
  outline: none;
  border-radius: 30px;
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 55px;
}

.container .login-email .input-group .btn:hover {
  transform: translateY(-5px);
  background: #6e3d0f;
}

.container img {
  height: 120px;
}

.login-register-text {
  color: #111;
  font-weight: 600;
}
.subtitle {
  color: rgb(154, 136, 136);
}

.subtitle a {
  text-decoration: none;
  color: #6e3d0f;
  font-weight: 600;
}

.login-register-text a {
  text-decoration: none;
  color: #6e3d0f;
}

@media (max-width: 430px) {
  .container {
    width: 300px;
  }
  .container .login-social {
    display: block;
  }
  .container .login-social a {
    display: block;
  }
}
/*Toggle Password*/

/*Messages*/
.success {
  text-align: center;
  padding: 10px 15px;
  width: 428px;
  background: lightgoldenrodyellow;
  margin-bottom: 1rem;
}

.fail {
  text-align: center;
  padding: 10px 15px;
  width: 428px;
  background: rgb(250, 210, 210);
  margin-bottom: 1rem;
}

.toggle-eye {
  position: absolute;
  left: 61rem;
  transform: translate(0, -50%);
  bottom: 175px;
  cursor: pointer;
}

.fa {
  font-size: 20px;
}

/* New Styles for Compromised Screen */
.body {
  background-color: #B33A3A;
}

.attention {
  color: #B33A3A;
  font-size: 2.5rem; 
  font-weight: 800;
}

.compromised {
  font-weight: bold;
}

.container .button-row {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.container .button-row .btn {
  width: 48%;
  padding: 15px 20px;
  text-align: center;
  border: none;
  background: #6e3d0f;
  outline: none;
  border-radius: 30px;
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}

.container .button-row .btn:hover {
  transform: translateY(-5px);
  background: #6e3d0f;
  text-decoration: none;
}
/* End of New Styles */
